<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color:#b9ecef;">
  <!-- <div class="team-grid"> -->

<h1>Edit your grocery list</h1>

<%= form_for @grocery_list do |f| %>
  <% if @grocery_list.errors.any? %>
  <div class="errors">
    <h2><%= pluralize(@grocery_list.errors.count, "error") %> prohibited this grocery list from being saved:</h2>
    <ul>
      <% @grocery_list.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.text_field :name, placeholder:'Name of your grocery list' %>
  <%= f.date_field :date %>
  <%= f.submit 'Create list' %>
<% end %>

<%= link_to 'Show grocery list', grocery_lists_path, class: 'btn btn-outline-info' %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<!-- </div> -->
</body>

</html>
