<% if user_signed_in? %>

  <%= link_to('Edit registration', edit_user_registration_path) %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <br>
  <%# <%= link_to('Create my grocery list', new_grocery_list_path) %> %>
  <br>
  <%# <% if current_user.superadmin_role? %> %>
  <%# <%= link_to('Create product', new_product_path) %> %>
  <%# <%= link_to('Create category', new_category_path) %> %>
  <br>
  <%# <%= link_to('Show products', products_path) %> %>
  <%# <%= link_to('Show categories', categories_path) %> %>
  <%# <% end %> %>
  <br>
  <%#= link_to('Show products', display_products_path) %>
  <%#= link_to('Show categories', display_categories_path) %>
  <br>
  <%# <%= link_to('Show my grocery list', grocery_lists_path) %> %>
  <br>
  <%# <% Category.all.each do |category| %> %>
  <%# <%= link_to category.heading, category_path(category) %> %>
  <%# <% end %> %>
<br>
  <p>User: <%= current_user.email %></p>
<% else %>

  <%= link_to('Register', new_user_registration_path)  %>
  <%= link_to('Login', new_user_session_path)  %>


<% end %>
