<h>List of product for <%= @category.heading %></h>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Product name</th>
      <th>Description</th>
      <th>Price per unit (RM)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @category.products.each do |product| %>
    <tr>
    <td><% if product.images.attached? %>
        <% product.images.each do |image| %>
          <%= image_tag image, width: 100 %>
        <% end %>
          <% else %>
          Unavailable
        <% end %></td>

      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.price %></td>

      <%= form_with model: product.grocery_list_products.build do |f| %>
      <td><%#= form_with model: @grocery_list_product do |f| %></td>
          <%= f.hidden_field :product_id, value: product.id %>
      <td><%= f.number_field :quantity, value: 1, min: 1 %></td>
      <td><%= f.select :grocery_list_id, options_from_collection_for_select(current_user.grocery_lists, :id, :name), { :prompt => "--Select one--"} %></td>
      <td><%= f.submit "Add to my list" %></td>

      <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
<br>
<%= link_to "Back to category", categories_path %>
