<% if current_user.superadmin_role? %>

<h1>Enter a product:</h1>

  <%= form_for Product.new do |f| %>

    <%= f.label :images %>
    <%= f.file_field :images, multiple: true %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :price %>
    <%= f.text_field :price %>

    <%= f.label :category %>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :heading), { :prompt => "--Select one--" } %>

    <%= f.submit "Create product" %>

<% end %>

<%= link_to "Back to home", root_path %>
<%= link_to "Show products", products_path %>

<% else %>

<p>Visible only for superadmin</p>

<% end %>
