<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

  <body>
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">
          <div class="container">
            <div class="row">
              <div class="col">
          <% if current_user && current_user.superadmin_role? %>
          <button type="button" class="btn btn-outline-info"><%= link_to "Admin", "https://whispering-atoll-46703.herokuapp.com/admin",target: :_blank %></button>
          </div>
          <div class="col">
          <button type="button" class="btn btn-outline-info"><%= link_to('Show products', products_path) %></button>
          </div>
          <% end %>
          <div class="col">
          <% if user_signed_in? %>
          <button type="button" class="btn btn-outline-info"><%= link_to('StockItUp!', root_path) %></button>
          </div>
          <div class="col">
          <button type="button" class="btn btn-outline-info"><%= link_to('Edit registration', edit_user_registration_path) %></button>
          </div>
          <div class="col">
          <button type="button" class="btn btn-outline-info"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
          </div>
          <div class="col">
          <p><%= current_user.email %></p>
          </div>
          <%# else %>
          <%#= link_to('Register', new_user_registration_path)  %>
          <%#= link_to('Login', new_user_session_path)  %>
          <% end %>
        </div>
          </div>
          </div>
        </a>
      </div>
    </nav>
  </body>
</html>
<!-- <nav class="navbar fixed-bottom navbar-light bg-light"> -->
  <!-- <div class="container-fluid"> -->
    <!-- <a class="navbar-brand"> -->

      <%# <% if current_user && current_user.superadmin_role? %>
      <%# <!-- <button class="btn btn-outline-success me-2" type="button"><%= link_to('Create product', new_product_path) %>
      <%# <!-- <button class="btn btn-outline-success me-2" type="button"><%= link_to('Create category', new_category_path) %>
      <%# <!-- <button class="btn btn-outline-success me-2" type="button"><%= link_to('Check out recipes', spoonaculars_path) %>
      <%# <!-- <button class="btn btn-outline-success me-2" type="button"><%= link_to('Check out all your products you have listed', all_user_products_path) %>
<!-- </a> -->
<!-- </div> -->
<!-- </nav -->
      <%# <% end %>
      <%# if user_signed_in? %>
      <!-- <button class="btn btn-outline-success me-2 type="button"><%#= link_to('Create my grocery list', new_grocery_list_path) %></button> -->
      <!-- <button class="btn btn-outline-success me-2 type="button"><%#= link_to('Show my grocery list', grocery_lists_path) %></button> -->

      <!-- <button class="btn btn-outline-success me-2" type="button"><%#= link_to('Show products', products_path) %></button> -->
      <!-- <button class="btn btn-outline-success me-2" type="button"><%#= link_to('Show categories', categories_path) %></button> -->

      <!-- <button class="btn btn-outline-success me-2" type="button"><%#= link_to('Where is?', "https://stockzitup.glitch.me/", target: :_blank) %></button> -->
      <!-- <button class="btn btn-outline-success me-2" type="button"><%#= link_to('Where is?', ar_path(current_user)) %></button> -->
      <%# end %>
    <!-- </a> -->
  <!-- </div> -->
<!-- </nav> -->
